<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>

    <arg name="robot_name" default=""/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/mandacaia.urdf.xacro'" />

    <!-- Plota robô no simulador -->
    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param robot_description" /> 

    <!-- carrega o publicador de juntas do robô -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE" />
    </node>

    <!-- carrega publicador dos estados do robô -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>